<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="excelfile">
        <button type="submit">Upload</button>
    </form>
    <li>
       
        <a class="btn btn-danger" href="{% url 'export_excel' %}" role="button">Download excel</a>
    </li>
    
</body>
</html>